# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Verify Python
      run: python3 --version

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install flake8 pytest
        if [ -f requirements.txt ]; then python3 -m pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # Using 'python3 -m' ensures the runner finds flake8 even if it's not in the system PATH
        python3 -m flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        python3 -m flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: python3 -m pytest

  deploy:
    runs-on: self-hosted
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Deploy to Mac via SSH
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e
            cd ~/mac-prod/python-app

            if [ ! -d .git ]; then
              git clone https://github.com/lukky44-bit/ci-cd-pipeline-getting-started.git .
            else
              git pull origin main
            fi

            echo "Mac SSH deployment successful"
          EOF